### Series

In [1]:
import pandas as pd

s1 = pd.Series([1, 2, 3])
print(s1)
# 0    1
# 1    2
# 2    3
# dtype: int64

s2 = pd.Series([1, 2, 3],
                index=['a', 'b', 'c'])
print(s2)
# a    1
# b    2
# c    3
# dtype: int64

0    1
1    2
2    3
dtype: int64
a    1
b    2
c    3
dtype: int64

In [2]:
s2 = pd.Series([1, 2, 3],
                index=['a', 'b', 'c'])
print(s2['a'])
# 1

print(s2[0])
# 1

print(s2[['a', 'b']])
# a    1
# b    2
# dtype: int64

print(s2[s2 > 1])
# b    2
# c    3

1
1
a    1
b    2
dtype: int64
b    2
c    3
dtype: int64

/var/folders/pk/cwgxjc893d9149wsd8y22c9r0000gn/T/ipykernel_74161/319191456.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s2[0])

In [3]:
import numpy as np

s2 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
    
print(s2.mean())
# 2.0

print(s2.std())
# 1.0

print(np.exp(s2))
# a     2.718282
# b     7.389056
# c    20.085537
# dtype: float64

print(2 in s2)
# True

2.0
1.0
a     2.718282
b     7.389056
c    20.085537
dtype: float64
False

In [4]:
sdata = {'Stuttgart': 100, 'Karlsruhe': 200, 'Mannheim': 300}
s3 = pd.Series(sdata)
print(s3)
# Stuttgart    100
# Karlsruhe    200
# Mannheim     300
# dtype: int64

cities = ['Karlsruhe', 'Mannheim', 'Stuttgart', 'Heilbronn']
s4 = pd.Series(sdata, index=cities)
print(s4)
# Karlsruhe    200.0
# Mannheim     300.0
# Stuttgart    100.0
# Heilbronn      NaN
# dtype: float64     --- Heilbronn is missing, results in NaN, which is a float!

Stuttgart    100
Karlsruhe    200
Mannheim     300
dtype: int64
Karlsruhe    200.0
Mannheim     300.0
Stuttgart    100.0
Heilbronn      NaN
dtype: float64

In [5]:
print(pd.isnull(s4))
# Karlsruhe    False
# Mannheim     False
# Stuttgart    False
# Heilbronn     True
# dtype: bool

print(s4[pd.notnull(s4)])
# Karlsruhe    200.0
# Mannheim     300.0
# Stuttgart    100.0
# dtype: float64

Karlsruhe    False
Mannheim     False
Stuttgart    False
Heilbronn     True
dtype: bool
Karlsruhe    200.0
Mannheim     300.0
Stuttgart    100.0
dtype: float64

In [6]:
s5 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s6 = pd.Series([4, 5, 6], index=['b', 'c', 'd'])

print(s5 + s6)                  # Missing values are turned into NaN
# a    NaN
# b    6.0
# c    8.0
# d    NaN

print(s5.add(s6, fill_value=0)) # Fill missing values with 0
# a    1.0
# b    6.0
# c    8.0
# d    6.0

a    NaN
b    6.0
c    8.0
d    NaN
dtype: float64
a    1.0
b    6.0
c    8.0
d    6.0
dtype: float64

In [7]:
s7 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s7.name = 'numbers'
s7.index.name = 'letters'
print(s7)
# letters
# a    1
# b    2
# c    3
# Name: numbers, dtype: int64

letters
a    1
b    2
c    3
Name: numbers, dtype: int64

### DataFrame

In [8]:
data = {'city': ['Stuttgart', 'Karlsruhe', 'Mannheim', 'Heilbronn'],
        'population': [100, 200, 300, 400],
        'area': [100, 200, 300, 400]}

df = pd.DataFrame(data)  # <-- 'df' is a commonly used variable name
print(df.head(3))        # <-- displays the first 3 entries
#         city  population  area
# 0  Stuttgart         100   100
# 1  Karlsruhe         200   200
# 2   Mannheim         300   300

        city  population  area
0  Stuttgart         100   100
1  Karlsruhe         200   200
2   Mannheim         300   300

In [9]:
data = {'city': ['Stuttgart', 'Karlsruhe', 'Mannheim', 'Heilbronn'],
        'population': [100, 200, 300, 400],
        'area': [100, 200, 300, 400]}

df = pd.DataFrame(data, columns=['city', 'area', 'population'])
print(df.head(3))
#         city  area  population
# 0  Stuttgart   100         100
# 1  Karlsruhe   200         200
# 2   Mannheim   300         300

        city  area  population
0  Stuttgart   100         100
1  Karlsruhe   200         200
2   Mannheim   300         300

### Reading and Writing CSV Files

In [10]:
# Reading:
df = pd.read_csv('automobile.csv')
print(df.head(3))
#Unnamed: 0    price  highway-mpg  city-mpg  peak-rpm  horsepower  \
#0           0  13495.0           27        21    5000.0       111.0   
#1           1  16500.0           27        21    5000.0       111.0 
# ...

# Writing:
df[['price', 'horsepower', 'fuel-type']].to_csv('automobile_price_hp_ft.csv')

   Unnamed: 0    price  highway-mpg  city-mpg  peak-rpm  horsepower  \
0           0  13495.0           27        21    5000.0       111.0
1           1  16500.0           27        21    5000.0       111.0
2           2  16500.0           26        19    5000.0       154.0

   compression-ratio  stroke  bore fuel-system  ...  length  wheel-base  \
0                9.0    2.68  3.47        mpfi  ...   168.8        88.6
1                9.0    2.68  3.47        mpfi  ...   168.8        88.6
2                9.0    3.47  2.68        mpfi  ...   171.2        94.5

  engine-location  drive-wheels   body-style  num-of-doors  aspiration  \
0           front           rwd  convertible           2.0         std
1           front           rwd  convertible           2.0         std
2           front           rwd    hatchback           2.0         std

   fuel-type         make normalized-losses
0        gas  alfa-romero               NaN
1        gas  alfa-romero               NaN
2        gas  alfa-romero               NaN

[3 rows x 26 columns]

### Accessing Rows and Columns

In [11]:
df = pd.read_csv('automobile.csv')[['price', 'horsepower', 'fuel-type']].head(3)
df.index = ['car1', 'car2', 'car3']  # Set custom index

print(df['price'].head(2)) 
print(df.price.head(2))    # --> both variants are valid
# car1    13495.0
# car2    16500.0
# Name: price, dtype: float64

print(df.loc['car1'])      
print(df.iloc[0])          # --> both variants are valid
# price         13495.0
# horsepower      111.0
# fuel-type       gas

car1    13495.0
car2    16500.0
Name: price, dtype: float64
car1    13495.0
car2    16500.0
Name: price, dtype: float64
price         13495.0
horsepower      111.0
fuel-type         gas
Name: car1, dtype: object
price         13495.0
horsepower      111.0
fuel-type         gas
Name: car1, dtype: object

### Reindexing

In [12]:
df = pd.read_csv('automobile.csv')[['price', 'horsepower', 'fuel-type']].head(3)
df.index = ['car1', 'car2', 'car3']  # Set initial index

df2 = df.reindex(['car1', 'car2', 'car2.1', 'car2.2', 'car3']) # Reindexing
print(df2)
#         price  horsepower fuel-type
# car1  13495.0       111.0       gas
# car2  16500.0       111.0       gas
# car2.1      NaN         NaN       NaN
# car2.2      NaN         NaN       NaN
# car3  16500.0       154.0       gas

          price  horsepower fuel-type
car1    13495.0       111.0       gas
car2    16500.0       111.0       gas
car2.1      NaN         NaN       NaN
car2.2      NaN         NaN       NaN
car3    16500.0       154.0       gas

In [13]:
df = pd.read_csv('automobile.csv')[['price', 'horsepower', 'fuel-type']].head(3)
df.index = ['car1', 'car2', 'car3']  # Set index

df2 = df.reindex(['car1', 'car2', 'car2.1', 'car2.2', 'car3'], method='ffill')
print(df2)
#         price  horsepower fuel-type
# car1  13495.0       111.0       gas
# car2  16500.0       111.0       gas
# car2.1 16500.0       111.0       gas
# car2.2 16500.0       111.0       gas
# car3  16500.0       154.0       gas

          price  horsepower fuel-type
car1    13495.0       111.0       gas
car2    16500.0       111.0       gas
car2.1  16500.0       111.0       gas
car2.2  16500.0       111.0       gas
car3    16500.0       154.0       gas

### Dropping Rows and Columns

In [14]:
df = pd.read_csv('automobile.csv')[['price', 'horsepower', 'fuel-type']].head(3)
df.index = ['car1', 'car2', 'car3']             # Set index

df2 = df.drop('car2')                           # Drop a single row
df3 = df.drop('fuel-type', axis=1)              # Drop a single column
df4 = df.drop(['car2', 'car3'])                 # Drop multiple rows
df5 = df.drop(['price', 'horsepower'], axis=1)  # Drop multiple columns

df.drop('car2', inplace=True)                   # Modify DataFrame in place

### Slicing with Labels and Positions

In [15]:
df = pd.read_csv('automobile.csv')[['price', 'horsepower', 'fuel-type']].head(3)
df.index = ['car1', 'car2', 'car3']  # Set index

print(df.loc['car1':'car2', 'price':'horsepower'])
print(df.iloc[0:2, 0:2])     # --> both variants are valid
#         price  horsepower
# car1  13495.0       111.0
# car2  16500.0       111.0

        price  horsepower
car1  13495.0       111.0
car2  16500.0       111.0
        price  horsepower
car1  13495.0       111.0
car2  16500.0       111.0

### Function Application

In [16]:
df = pd.read_csv('automobile.csv')[['price', 'horsepower']]

print(df.apply(np.sin))
# (two columns with sine values - only numeric values)

print(df.apply(np.mean))
# price       13207.129353
# horsepower    103.481865   # column means

print(df.applymap(np.mean))
# (means of individual values â€“ does not make sense)

print(df.apply(lambda x: x.max() - x.min()))
# price       40282.0
# horsepower    240.0   # range

        price  horsepower
0   -0.958599   -0.864551
1    0.347950   -0.864551
2    0.347950   -0.061920
3    0.970818    0.994827
4    0.999721    0.945435
..        ...         ...
200 -0.218043    0.784980
201  0.617322    0.219425
202  0.344924    0.885925
203  0.970991   -0.727143
204 -0.681852    0.784980

[205 rows x 2 columns]
price         13207.129353
horsepower      104.256158
dtype: float64
       price  horsepower
0    13495.0       111.0
1    16500.0       111.0
2    16500.0       154.0
3    13950.0       102.0
4    17450.0       115.0
..       ...         ...
200  16845.0       114.0
201  19045.0       160.0
202  21485.0       134.0
203  22470.0       106.0
204  22625.0       114.0

[205 rows x 2 columns]
price         40282.0
horsepower      240.0
dtype: float64

/var/folders/pk/cwgxjc893d9149wsd8y22c9r0000gn/T/ipykernel_74161/3563110743.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df.applymap(np.mean))

### Function Application

In [17]:
df = pd.read_csv('automobile.csv')[['price', 'horsepower']].head(3)
df.index = ['car1', 'car2', 'car3']  # Set index

print(df.applymap(lambda x: f'{x:,.2f}'))
#         price horsepower
# car1  13,495.00     111.00
# car2  16,500.00     111.00
# car3  16,500.00     154.00

          price horsepower
car1  13,495.00     111.00
car2  16,500.00     111.00
car3  16,500.00     154.00

/var/folders/pk/cwgxjc893d9149wsd8y22c9r0000gn/T/ipykernel_74161/16542580.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df.applymap(lambda x: f'{x:,.2f}'))

### Sorting

In [18]:
df = pd.read_csv('automobile.csv')[
    ['price', 'horsepower']].head(3)
df.index = ['car1', 'car2', 'car3']  # Set index

print(df.sort_index(ascending=False))
#         price  horsepower
# car3  16500.0       154.0
# car2  16500.0       111.0
# car1  13495.0       111.0

print(df.sort_values(by='price'))
#         price  horsepower
# car1  13495.0       111.0
# car2  16500.0       111.0
# car3  16500.0       154.0

        price  horsepower
car3  16500.0       154.0
car2  16500.0       111.0
car1  13495.0       111.0
        price  horsepower
car1  13495.0       111.0
car2  16500.0       111.0
car3  16500.0       154.0

### Grouping

In [19]:
df = pd.read_csv('automobile.csv')
print(df[['price','fuel-type']].groupby('fuel-type').mean())

                 price
fuel-type
diesel     15838.15000
gas        12916.40884

In [20]:
df = pd.read_csv('automobile.csv')[['price','fuel-type']].groupby('fuel-type').mean()

print(df)            #                  price
                     # fuel-type               
                     # diesel     15838.15000
                     # gas        12916.40884

print(df.index)      # Index(['diesel', 'gas'], dtype='object', name='fuel-type')

print(df.index.name) # fuel-type

print(df.columns)    # Index(['price'], dtype='object')

                 price
fuel-type
diesel     15838.15000
gas        12916.40884
Index(['diesel', 'gas'], dtype='object', name='fuel-type')
fuel-type
Index(['price'], dtype='object')

In [21]:
df = pd.read_csv('automobile.csv')[['price', 'fuel-type', 'aspiration']]
grouped = df.groupby('fuel-type')
print(grouped) # <pandas.core.groupby.generic.SeriesGroupBy object at 0x7f8b3b7b3d30>
for name, group in grouped:
    print(f"Fuel type: {name}") # 
    print(group.head(2))

#Fuel type: diesel
#      price fuel-type aspiration
#63  10795.0    diesel        std
#66  18344.0    diesel        std

#Fuel type: gas
#     price fuel-type aspiration
#0  13495.0       gas        std
#1  16500.0       gas        std

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x105ff6ed0>
Fuel type: diesel
      price fuel-type aspiration
63  10795.0    diesel        std
66  18344.0    diesel        std
Fuel type: gas
     price fuel-type aspiration
0  13495.0       gas        std
1  16500.0       gas        std

In [22]:
df = pd.read_csv('automobile.csv')[['price', 'fuel-type', 'aspiration', 'num-of-doors']]
grouped = df.groupby(['fuel-type', 'aspiration', 'num-of-doors'])
print(grouped.mean())

#                                           price
# fuel-type aspiration num-of-doors              
# diesel    std        2.0            7437.000000
#                      4.0           10506.250000
#           turbo      2.0           28176.000000
#                      4.0           18407.750000
# gas       std        2.0           12727.887324
#                      4.0           12621.678161
#           turbo      2.0           12969.083333
#                      4.0           17191.70000

                                          price
fuel-type aspiration num-of-doors
diesel    std        2.0            7437.000000
                     4.0           10506.250000
          turbo      2.0           28176.000000
                     4.0           18407.750000
gas       std        2.0           12727.887324
                     4.0           12621.678161
          turbo      2.0           12969.083333
                     4.0           17191.700000

### Aggregation

Brief demonstration code from the *Aggregation* subsection.

In [23]:
df = pd.read_csv('automobile.csv')[['price', 'fuel-type']]
grouped = df.groupby('fuel-type')
print(grouped.agg(lambda x: x.max() - x.min()))

             price
fuel-type
diesel     24501.0
gas        40282.0

In [24]:
df = pd.read_csv('automobile.csv')[['price', 'make', 'fuel-type']]
print(df.pivot_table(index='make', columns='fuel-type', values='price', aggfunc='mean'))

fuel-type            diesel           gas
make
alfa-romero             NaN  15498.333333
audi                    NaN  17859.166667
bmw                     NaN  26118.750000
chevrolet               NaN   6007.000000
dodge                   NaN   7875.444444
honda                   NaN   8184.692308
isuzu                   NaN   8916.500000
jaguar                  NaN  34600.000000
mazda          14569.500000  10130.666667
mercedes-benz  28394.000000  38900.000000
mercury                 NaN  16503.000000
mitsubishi              NaN   9239.769231
nissan          7099.000000  10610.764706
peugot         15797.000000  15232.500000
plymouth                NaN   7963.428571
porsche                 NaN  31400.500000
renault                 NaN   9595.000000
saab                    NaN  15223.333333
subaru                  NaN   8541.250000
toyota          8794.666667   9998.689655
volkswagen      9777.500000  10227.500000
volvo          22470.000000  17622.500000

### Hierarchical Indexing

In [25]:
df = pd.read_csv('automobile.csv')[['price', 'make', 'fuel-type']].head(5)
# set new index
df.index = [['car1', 'car2', 'car3', 'car4', 'car5'],
            ['blue', 'red', 'blue', 'red', 'blue']]
df.index.names = ['car', 'color']  # note the plural: 'names'!!!

print(df)
#             price         make fuel-type
# car  color
# car1 blue   13495  alfa-romero       gas
# car2 red    16500  alfa-romero       gas
# ...

              price         make fuel-type
car  color
car1 blue   13495.0  alfa-romero       gas
car2 red    16500.0  alfa-romero       gas
car3 blue   16500.0  alfa-romero       gas
car4 red    13950.0         audi       gas
car5 blue   17450.0         audi       gas

In [26]:
df = pd.read_csv('automobile.csv')[['price', 'make', 'fuel-type']].head(5)
df.index = [['car1', 'car2', 'car3', 'car4', 'car5'],
            ['blue', 'red', 'blue', 'red', 'blue']]
df.index.names = ['car', 'color']

print(df.unstack())
#         price                  make                   fuel-type     
#color     blue      red         blue          red      blue  red
#car                                                             
#car1   13495.0      NaN  alfa-romero          NaN       gas  NaN
#car2       NaN  16500.0          NaN  alfa-romero       NaN  gas
#...

         price                  make              fuel-type
color     blue      red         blue          red      blue  red
car
car1   13495.0      NaN  alfa-romero          NaN       gas  NaN
car2       NaN  16500.0          NaN  alfa-romero       NaN  gas
car3   16500.0      NaN  alfa-romero          NaN       gas  NaN
car4       NaN  13950.0          NaN         audi       NaN  gas
car5   17450.0      NaN         audi          NaN       gas  NaN

In [27]:
df = pd.read_csv('automobile.csv')[['price', 'make', 'fuel-type']].head(5)
df.index = [['car1', 'car2', 'car3', 'car4', 'car5'],
            ['blue', 'red', 'blue', 'red', 'blue']]
df.index.names = ['car', 'color']

print(df.stack())
#car   color           
#car1  blue   price            13495.0
#             make         alfa-romero
#             fuel-type            gas
#car2  red    price            16500.0
#             make         alfa-romero
#             fuel-type            gas
...

car   color
car1  blue   price            13495.0
             make         alfa-romero
             fuel-type            gas
car2  red    price            16500.0
             make         alfa-romero
             fuel-type            gas
car3  blue   price            16500.0
             make         alfa-romero
             fuel-type            gas
car4  red    price            13950.0
             make                audi
             fuel-type            gas
car5  blue   price            17450.0
             make                audi
             fuel-type            gas
dtype: object

Ellipsis

### Multiple Aggregation Functions

In [28]:
#                     mean                        std              
#fuel-type          diesel           gas       diesel           gas
#body-style                                                        
#convertible           NaN  21890.500000          NaN  11187.802193
#hardtop      28176.000000  21356.000000          NaN  15504.536648
#hatchback     7788.000000   9989.820896          NaN   4171.510928
#sedan        14774.400000  14400.012658  7322.373462   8773.202490
#wagon        19727.666667  11368.909091  7551.894884   3969.303848